language: php
php:
  - '7.1'
before_script:
  - composer install --dev
  - cp env.travis .env
  - touch storage/app/db.sqlite
  - php artisan key:generate
  - php artisan migrate
script: vendor/bin/phpunit && vendor/bin/phpcs
notifications:
    slack: cylab-be:smDx3z4O49KTDJQSsBwJOJul
